<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    
<context:component-scan base-package="io.planb" />    
    
 <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource" >
 		<property name="driverClass" value="org.postgresql.Driver" />
 		<property name="url" value="jdbc:postgresql://ec2-23-21-224-199.compute-1.amazonaws.com:5432/d4k49e3tapgsar?sslmode=require&amp;user=yptxwahiogkkjr&amp;password=aad5becb20b2450e706d01d68b8ff62de2234c6e0fc2ef52db0fd332ae3161cd" />
 		<property name="username" value="yptxwahiogkkjr" />
 		<property name="password" value="aad5becb20b2450e706d01d68b8ff62de2234c6e0fc2ef52db0fd332ae3161cd" />
 	</bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml" />
    	<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml" />
    </bean>
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
    	<constructor-arg ref="sqlSessionFactory" />
    </bean>
</beans>    