<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    
    <bean id="customAuthenticationProvider" class="io.planb.security.CustomAuthenticationProvider"/>
  
         
    <sec:http pattern="/css/**" security="none" />
    <sec:http pattern="/img/**" security="none" />
    <sec:http pattern="/js/**" security="none" />
  
    		
    <sec:authentication-manager alias="authenticationManager">
    	<sec:authentication-provider ref="customAuthenticationProvider" />
    </sec:authentication-manager>
<!--     	<sec:authentication-provider> -->
<!--     		<sec:jdbc-user-service data-source-ref="dataSource" id="jdbcUserService" /> -->
<!--     	</sec:authentication-provider> -->
    
    <sec:http auto-config="true" use-expressions="true">
    	<sec:intercept-url pattern="/jsp/admin/**" access="hasAuthority('ROLE_ADMIN')" />
    	<sec:intercept-url pattern="/contents/**" access="isAuthenticated()" />
    	<sec:intercept-url pattern="/drawer/**" access="isAuthenticated()" />
    	<sec:intercept-url pattern="/drawer**" access="isAuthenticated()" />
    	<sec:intercept-url pattern="/statics/**" access="isAuthenticated()" />
    	<sec:intercept-url pattern="/**" access="permitAll" />
<!--     	<sec:form-login /> -->
    	<sec:form-login login-page="/login/login.do" 
    					login-processing-url="/login/login.do"
    					username-parameter="email" 
    					password-parameter="password"
    					authentication-success-handler-ref="customSuccessHandler" />
<!--     	<sec:logout logout-success-url="/" logout-url="/login/logout.do" /> -->
		<sec:logout logout-url="/j_spring_security_logout"
					logout-success-url="/" />
		<sec:csrf disabled="true"/>
    </sec:http>
    
    <bean id="customSuccessHandler" class="io.planb.security.handler.CustomSuccessHandler"/>
    
<!--     <context:annotation-config /> -->
    
<!--     <sec:authentication-manager> -->
<!--     	<sec:authentication-provider> -->
<!--     		<sec:user-service> -->
<!--     			<sec:user name="user" password="user" authorities="F" /> -->
<!--     			<sec:user name="admin" password="admin" authorities="A,F" /> -->
<!--     		</sec:user-service> -->
<!--     	</sec:authentication-provider> -->
<!--     </sec:authentication-manager> -->
</beans>