@CHARSET "UTF-8";

	.spanPadding {
   	 	padding-right: 20px;
   	}
   	
   	.marginRight {
   		margin-right: 10px;
   	}
   	
   	.marginRight15 {
   		margin-right: 15px;
   	}
   
   	.marginRight30{
   		margin-right: 30px;
   	}
   	
   	.marginLeft {
   		margin-left: 10px;
   	}

   	.marginLeft30 {
   		margin-left: 30px;
   	}
   	
	.paddingleft30{
   		padding-left: 30px;
	}
	
	.paddingleft40{
   		padding-left: 40px;
	}
	
	.paddingleft50{
   		padding-left: 50px;
        margin-bottom: 10px; 
    }
    
    .paddingleft70{
           padding-left: 70px;
    }
    
    .marginBottom{
        margin-bottom: 10px; 
    }
    
    .marginBottom30{
    	margin-bottom: 30px;
    }
	
	.marginBottom100{
		margin-bottom: 100px;
	}
	
	
    .marginTop{
        margin-top: 10px;
    }
    
    .marginTop20{
        margin-top: 20px;
    } 
    
    .marginTop30{
        margin-top: 30px;
    }
    
    .marginTop40{
        margin-top: 40px;
    }
    
    .marginTop60{
        margin-top: 60px;
    }
    
    .marginTop70{
        margin-top: 70px;
    }
    
    .marginTop80{
        margin-top: 80px;
    }
    
	.marginTop180{
		margin-top: 180px;
	}
    
    .paddingTop{
    	padding-top: 10px;
    }
    
    .paddingTop20{
    	padding-top: 20px;
    }
    
    .paddingTop30{
    	padding-top: 30px;
    }
    
    .paddingRight10 {
    	padding-right: 10px;
    }
    
    .paddingRight15 {
    	padding-right: 15px;
    }
    
    .clearBoth{
        clear:both;
    }

 	.img-rounded{
      border-radius: 6px;
	  max-width: 200px !important;
  	  height: auto;
  	  background-color: #fff;
  	  vertical-align: middle;
  	  margin-right: auto;
  	  margin-left: auto;
    }
    
    .thFont{
        font-weight: bold;
        font-size: 15px;
    }
    
    .tdFont{
        font-size: 15px;
    }
    
    .font20{
    	font-size: 20px;
    }
    
     .font15{
    	font-size: 15spx;
    }
    
    .grayfont{
    	color : gray;
    }
    
    .ajaxFont{
    	font-size: 15px;
    	color: red;
    }
    
    .border2px{
        border: 2px solid #dddddd;  
    }
    
    .border{
        border: 1px solid #dddddd;
    }
    
    .borderDot{
        border: 1px dotted #dddddd;
    }
    
    .h1small{
     	font-weight: bold;
     	line-height: 1;
    	color: #999999;
    }
    
    .progress{
		border : solid 1px #dddddd;
		height: 100px;
		text-align :center;
		margin: 10px;
		float: left;
  	}
  	
  	.minHeight{
  		height: 800px;
  	}
  	
  	.minHeight800{
  		margin-bottom: 800px;
  	}
  	
  	.minHeight300{
  		margin-bottom: 300px;
  	}
  	
  	.minHeight700{
  		height: 700px;
  	}
  	
  	.formBottom15 > div > div {
      margin-bottom:15px !important;
   }
   
   .font > dt{
   	font-size: 20px;
   }
   
   .vcenter {
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}
	
   .pie { 
	   	stroke: white; 
	   	stroke-width: 3;
   	}
   	
   	.drop-text {
   		display: block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.drop-text-1 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	
	.drop-text-2 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
	.drop-text-3 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
	
	.drop-text-5 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
	
	.nofocus:focus {
	  outline: none;
	}
	
	.primaryFont{
	font-size: 20px;
	font-weight: bold;
    color: #03A9F4;
	}
	
	.font20{
   	font-size: 20px;
   }
   
   /* Morpheme analysis */

   /* btn-noun */
   .btn-noun {
	    color: #FFFFFF;
	    background-color: #00BCD4;
	    border-color: #00ACC1
	}
	
	.btn-noun.disabled:hover,
	.btn-noun[disabled]:hover,
	.btn-noun.disabled:focus,
	.btn-noun[disabled]:focus,
	.btn-noun.disabled.focus,
	.btn-noun[disabled].focus {
	    background-color: #00BCD4;
	    border-color: #00ACC1
	}
	
	.btn-noun .badge {
	    color: #00BCD4;
	    background-color: #FFFFFF
	}
	
	/* btn-verb */
	.btn-verb {
	    color: #FFFFFF;
	    background-color: #009688;
	    border-color: #00897B
	}
	
	.btn-verb.disabled:hover,
	.btn-verb[disabled]:hover,
	.btn-verb.disabled:focus,
	.btn-verb[disabled]:focus,
	.btn-verb.disabled.focus,
	.btn-verb[disabled].focus {
	    background-color: #009688;
	    border-color: #00897B
	}
	
	.btn-verb .badge {
	    color: #009688;
	    background-color: #FFFFFF
	}
	
	/* btn-eojeol */
	.btn-eoj {
	    color: #FFFFFF;
	    background-color: #8BC34A;
	    border-color: #7CB342
	}
	
	.btn-eoj.disabled:hover,
	.btn-eoj[disabled]:hover,
	.btn-eoj.disabled:focus,
	.btn-eoj[disabled]:focus,
	.btn-eoj.disabled.focus,
	.btn-eoj[disabled].focus {
	    background-color: #8BC34A;
	    border-color: #7CB342
	}
	
	.btn-eoj .badge {
	    color: #8BC34A;
	    background-color: #FFFFFF
	}
	
   .text-noun { color: #00BCD4 }
   .text-verb { color: #8BC34A }
   .text-eoj  { color: #009688 }
   .text-adverb { color: #3F51B5 }
   .text-anyfix { color: #673AB7 }

   .verticalCenter{
  	 vertical-align: middle;
   }
   
   /* saveCardBtn */
   a.saveCardBtn,
   a.saveCancelBtn {
	position: relative;
	top: -21px;
	right: -5px;
   }
   
   a.saveCardBtn,
   a.saveCancelBtn:hover {
	color: #ccc;
   }
   
   a.saveCardBtn:hover,
   a.saveCancelBtn {
	color: #03A9F4;
   }
   
   /* likeCardBtn */
   a.likeBtn,
   a.likeCancelBtn:hover {
	color: #9E9E9E;
   }
   
   a.likeBtn:hover,
   a.likeCancelBtn {
	color: #FF4081;
   }
   
   a.disabled {
	   pointer-events: none;
	   cursor: default;
	}
	
	
	html,body{height:100%}
	body{margin:0}
	.body{
		min-height:83.5%;
	}
	.sectionContent{padding-bottom:1.9em}
	.footer{height:1.9em}	
	
	
	/* profile_form.jsp  */
	#forBottoom>div {
	margin-bottom: 15px;
}

	#word-cloud{
	width : 1000px;
	height : 600px;
	}
	
	.circleLoading{
		 font-size:60px;
		 color : gray;
	}
	
	label, input[type="radio"] {
	  margin-top: -4px;
	  vertical-align: middle;
	}
