<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <bean class="java.net.URI" id="dbUrl">
        <constructor-arg value="#{systemEnvironment['DATABASE_URL']}"/>
    </bean>
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
    	  destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
<!--		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />-->
        <property name="url" value="#{ 'jdbc::oracle:thin:' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
<!--		<property name="username" value="hr" />-->
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
<!--		<property name="password" value="hr" />    -->
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation" value="classpath:config/mybatis/sqlMapConfig.xml" />
    	<property name="mapperLocations" value="classpath:config/sqlmap/oracle/*.xml" />
    </bean>
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
    	<constructor-arg ref="sqlSessionFactory" />
    </bean>
    
    <!-- File Upload 를 위한 세팅 -->
    <!-- commons-fileupload, io 를 maven 세팅 필요 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 업로드 수치(bytes) : 50mb 제한 -->
		<property name="maxUploadSize" value="52428800" />  
		<!-- 업로드 파일 인코딩 -->
		<property name="defaultEncoding" value="UTF-8" />
    </bean>

	<!-- jsonView 사용을 위한 설정 추가  -->
	<bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
		<property name="contentType" value="application/json;charset=UTF-8"> </property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
	    <property name="order" value="0"></property>
	</bean>
	
	<!-- jsonView 사용을 위한 설정 추가  -->

	<context:component-scan base-package="io.planb" />
    <mvc:annotation-driven />
	<mvc:default-servlet-handler />
	<mvc:view-resolvers>
		<mvc:jsp prefix="/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>
	
	<mvc:view-controller path="/include/footer.do" view-name="include/bottom"/>
	<mvc:view-controller path="/include/section.do" view-name="include/section"/>

</beans>